*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(180deg,#fffdfd,#fff6fb,#fff);
    color:#555;
    overflow-x:hidden;
}

/* Pantalla inicial */

#loader{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#fff,#fdeff6,#fff8fc);
    padding:25px;
}

.loader-content h1{
    font-size:70px;
    margin-bottom:20px;
    animation:flotar 3s infinite ease-in-out;
}

.loader-content h2{
    font-family:'Great Vibes',cursive;
    font-size:55px;
    color:#d68aa7;
}

.loader-content p{
    margin:25px auto;
    max-width:500px;
    line-height:1.8;
}

button{
    padding:15px 35px;
    border:none;
    border-radius:40px;
    background:#d4af37;
    color:white;
    cursor:pointer;
    font-size:18px;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
}

/* Página */

#invitacion{
    display:none;
    max-width:900px;
    margin:auto;
    padding:40px 20px;
}

header{
    text-align:center;
    margin-bottom:50px;
}

header h1{
    font-family:'Great Vibes',cursive;
    font-size:70px;
    color:#d68aa7;
}

header h2{
    font-family:'Playfair Display',serif;
    margin-top:10px;
    font-size:34px;
}

.titulo{
    margin-top:15px;
    color:#b08d2f;
    font-weight:bold;
    font-size:20px;
}

/* Tarjetas */

section{
    margin:50px 0;
}

.card,
.lista{
    background:white;
    padding:25px;
    border-radius:20px;
    margin-top:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.card h3,
.lista h3{
    color:#c58aa6;
    margin-bottom:10px;
}

.card p,
.lista p{
    line-height:1.8;
}

.mensaje,
.evento,
.recepcion,
.padrinos,
.confirmacion,
footer{
    text-align:center;
}

.mensaje h2,
.evento h2,
.recepcion h2,
.padrinos h2,
.confirmacion h2,
footer h2{
    font-family:'Playfair Display',serif;
    color:#c58aa6;
    margin-bottom:20px;
}

.mensaje h3{
    font-size:28px;
    margin:20px 0;
    color:#b08d2f;
}

/* Botones */

.boton,
.whatsapp{
    display:inline-block;
    margin-top:30px;
    text-decoration:none;
    background:#d4af37;
    color:white;
    padding:15px 35px;
    border-radius:40px;
    transition:.3s;
}

.boton:hover,
.whatsapp:hover{
    transform:translateY(-4px);
}

footer{
    padding:60px 20px;
}

footer h3{
    font-family:'Great Vibes',cursive;
    font-size:45px;
    color:#d68aa7;
}

/* Animaciones */

@keyframes flotar{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-12px);
}

100%{
transform:translateY(0px);
}

}

/* Responsive */

@media(max-width:768px){

header h1{
font-size:50px;
}

header h2{
font-size:28px;
}

.loader-content h2{
font-size:42px;
}

.card,
.lista{
padding:18px;
}

button,
.boton,
.whatsapp{
width:100%;
}

}
